<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">
    {{ text }}

    <card ref="refCard"></card>
    <card v-for="i in arr" :ref="`${i}動態ref`"></card>
  </div>
  <script>
    const { createApp } = Vue;

    // $ref
    // 取得元件資料或方法
    // 作爲 DOM

    const card = {
      data() {
        return {
          text: '卡片的資料',
          num: 1
        }
      },
      template: `<div>
        卡片元件：{{ text }}
        <input type="number" v-model="num" />
      </div>`,
      methods: {
        cardFn() {
          console.log('卡片的方法');
        }
      }
    }

    const app = createApp({
      data() {
        return {
          text: '這是一段文字',
          arr: ['a', 'b', 'c']
        }
      },
      components: {
        card
      },
      mounted () {
        console.log(this);
        console.log(this.$refs.refCard.text);
        this.$refs.refCard.cardFn();
      }
    });

    app.mount('#app')
  </script>
</body>
</html>