<!DOCTYPE html>
<html>
  <head>
    <title>資料操作</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <meta charset="UTF-8" />
    <script src="/javascripts/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
  </head>
  <body class="bg-lighter">
    <div class="container main my-5">
      <div class="row">
        <main class="col post">
          <!-- 章節標題 -->
          <div class="mb-4">
            <h1 class="mt-0 text-muted">資料操作</h1>
            <small>檔名：<code>intro_add_data.html</code></small>
          </div>
          <!-- 🔥🔥練習開始🔥🔥 -->
          <!-- 重點筆記 -->
          <!-- 一個是放所有 使用者輸入的資料 存放區 products -->
          <!-- 一個是放暫存 使用者輸入一筆資料 存放區 temp  -->
          <!-- 這章預設是 有兩筆 data 外 products 資料，要先生命週期放到 data 中，並按 更新 後可以把輸入框資料(一筆暫存資料)再放入 存放區 -->

          <div id="app">
            <form>
              <div class="mb-3">
                <label for="productName" class="form-label">產品名稱</label>
                <input
                  type="text"
                  id="productName"
                  class="form-control"
                  v-model="temp.name"
                />
              </div>
              <div class="mb-3">
                <img
                  :src="temp.imageUrl"
                  class="img-fluid d-block"
                  alt=""
                  width="300"
                />
                <label for="productImage" class="form-label">產品圖片</label>
                <input
                  type="text"
                  id="productImage"
                  class="form-control"
                  v-model="temp.imageUrl"
                />
              </div>
              <button
                type="button"
                class="btn btn-secondary"
                v-on:click="confirmEdit"
              >
                更新
              </button>
            </form>
          </div>

          <script>
            // 本來 products 資料 是在 data 之外，想要放在 data 中，就得在 data 新增物件:[]，並用生命週期將 this 物件:[] = data 外的 products 資料
            const products = [
              {
                id: "1",
                imageUrl:
                  "https://images.unsplash.com/photo-1516906571665-49af58989c4e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=300&q=80",
                name: "MacBook Pro",
                onStock: false,
              },
              {
                id: "2",
                imageUrl:
                  "https://images.unsplash.com/photo-1512499617640-c74ae3a79d37?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=300&q=80",
                name: "iPhone",
                onStock: false,
              },
            ];
            const App = {
              data() {
                return {
                  // 陣列 - 所有 使用者輸入後的 資料存放
                  products: [],
                  // 每次的 一筆 使用者輸入後的 暫存資料
                  temp: {
                    name: "卡斯伯",
                    imageUrl:
                      "https://images.unsplash.com/photo-1602526430780-782d6b1783fa?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80",
                  },
                };
              },
              methods: {
                // data 外的 products 資料 有多加了 id、勾選狀態，data 中資料沒有
                confirmEdit() {
                  // 所以這裡是，當點擊更新時，直接在 data 資料新增 本來沒有的 id
                  // unix timestamp -> 利用 new Date().getTime() 取得日期，當作獨有的 id
                  this.temp.id = new Date().getTime(); // unix timestamp
                  // 所以這裡是，當點擊更新時，直接在 data 資料新增 本來沒有的 勾選狀態，並先是 false，呈現未勾選狀態
                  this.temp.onStock = false;
                  console.log(this.temp);
                  console.log(this.products);
                  // 將暫存資料 放到 所有存放區
                  this.products.push(this.temp);
                  // 每一次將 暫存資料 放到 所有存放區 後，輸入框清空
                  this.temp = {};
                },
              },
              // 生命週期，元件生成時觸發
              created() {
                // 左 -> data 內的 products:[]
                // 右 -> data 外的 products 資料
                this.products = products;
              },
            };

            Vue.createApp(App).mount("#app");
          </script>
          <!-- 🙇🙇練習結束🙇🙇 -->
        </main>

        <aside class="col-md-3">
          <div class="sticky-top" style="top: 76px">
            <div class="list-group">
              <a
                href="/intro/createApp.html"
                class="list-group-item list-group-item-action"
              >
                環境安裝
              </a>

              <a
                href="/intro/basic_structure.html"
                class="list-group-item list-group-item-action"
              >
                基礎結構
              </a>

              <a
                href="/intro/two_way_binding.html"
                class="list-group-item list-group-item-action"
              >
                雙向綁定
              </a>

              <a
                href="/intro/intro_add_data.html"
                class="list-group-item list-group-item-action active"
              >
                資料操作
              </a>

              <a
                href="/intro/intro_render_vfor.html"
                class="list-group-item list-group-item-action"
              >
                多筆畫面渲染
              </a>

              <a
                href="/intro/intro_edit_data.html"
                class="list-group-item list-group-item-action"
              >
                資料編輯
              </a>

              <a
                href="/intro/final.html"
                class="list-group-item list-group-item-action"
              >
                最終成品細節調整
              </a>
            </div>
            <div class="mt-3 text-end p-2 bg-light rounded">
              <small class="text-black-50 fw-light mb-0"
                >文件版本：2022/6/21</small
              >
            </div>
          </div>
        </aside>
      </div>
    </div>

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/es6/shorthand.html">JS 必備觀念</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/intro/createApp.html"
                >認識 Vue.js</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/template/v-text.html">模板</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/optionsApi/options-methods.html"
                >方法</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/component_register.html"
                >元件</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/advApi/adv-refs.html">進階</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/router/vue-router.html">路由</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/composition/proxy.html"
                >Composition API</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <footer class="footer py-2 bg-light">
      <div class="container text-center">
        <small class="text-black-50 fw-light mb-0"
          >六角學院 Vue 課程專屬文件</small
        >
      </div>
    </footer>
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </body>
</html>
