<!DOCTYPE html>
<html>
  <head>
    <title>Watch</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <meta charset="UTF-8" />
    <script src="/javascripts/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
  </head>
  <body class="bg-lighter">
    <div class="container main my-5">
      <div class="row">
        <main class="col post">
          <!-- 章節標題 -->
          <div class="mb-4">
            <h1 class="mt-0 text-muted">Watch</h1>
            <small>檔名：<code>options-watch.html</code></small>
          </div>
          <!-- 🔥🔥練習開始🔥🔥 -->

          <div id="app">
            <h3>watch 監聽單一變數</h3>
            <small>以下可用在驗證輸入框</small> <br />
            <small>watch 監聽 單一 data 資料，不會產生新的值</small>
            <label for="name">名字須超過十個字</label>
            <input type="text" id="name" v-model="tempName" />
            <p>result: {{ result }}</p>
            <p>name: {{ name }}</p>

            <h3>watch vs computed</h3>
            <h5>Watch</h5>
            <ul>
              <li>監聽單一 “變數” 觸發事件</li>
              <li>該函式可同時操作多個變數</li>
            </ul>

            <h5>Computed</h5>
            <ul>
              <li>監聽多個變數觸發事件</li>
              <li>會產生一個值</li>
            </ul>

            <label for="productName">商品名稱</label
            ><input type="text" v-model="productName" /><br />
            <label for="productPrice">商品價格</label
            ><input type="number" v-model.number="productPrice" /><br />
            <label><input type="checkbox" v-model="productVegan" /> 素食</label>
            <p>Computed result2: {{ result2 }}</p>
            <p>Watch result3: {{ result3 }}</p>

            <h3>watch 深層監聽</h3>
            <label for="productName">商品名稱</label
            ><input type="text" v-model="product.name" /><br />
            <label for="productPrice">商品價格</label
            ><input type="number" v-model.number="product.price" /><br />
            <label
              ><input type="checkbox" v-model="product.vegan" /> 素食</label
            >
            <p>result4: {{ result4 }}</p>
          </div>

          <script>
            const App = {
              data() {
                return {
                  name: "",
                  tempName: "",
                  result: "",
                  result3: "",
                  result4: "",
                  // 單一產品
                  productName: "蛋餅",
                  productPrice: 30,
                  productVegan: false,
                  // 單一產品
                  product: {
                    name: "蛋餅",
                    price: 30,
                    vegan: false,
                  },
                  products: [
                    {
                      name: "蛋餅",
                      price: 30,
                      vegan: false,
                    },
                    {
                      name: "飯糰",
                      price: 35,
                      vegan: false,
                    },
                    {
                      name: "小籠包",
                      price: 60,
                      vegan: false,
                    },
                    {
                      name: "蘿蔔糕",
                      price: 30,
                      vegan: true,
                    },
                  ],
                  carts: [],
                  sum: 0,
                };
              },
              computed: {
                // 監聽多個變數觸發事件，會產生一個值
                result2() {
                  return `媽媽買了 ${this.productName}，
                              總共花費 ${this.productPrice} 元，
                              另外這 ${
                                this.productVegan ? "是" : "不是"
                              } 素食的`;
                },
              },
              // 在畫面重整時可發現，watch 部分不會執行(沒有出現內容)，因為資料沒變動
              watch: {
                // 物件方式 - watch 深層監聽
                product: {
                  handler(n, o) {
                    this.result4 = `媽媽買了 ${this.product.name}，
                              總共花費 ${this.product.price} 元，
                              另外這 ${
                                this.product.vegan ? "是" : "不是"
                              } 素食的`;
                  },
                  deep: true,
                },
                // 監聽單一 “變數” 觸發事件，該函式可同時操作多個變數
                productName() {
                  this.result3 = `媽媽買了 ${this.productName}，
                              總共花費 ${this.productPrice} 元，
                              另外這 ${
                                this.productVegan ? "是" : "不是"
                              } 素食的`;
                },
                productPrice() {
                  this.result3 = `媽媽買了 ${this.productName}，
                              總共花費 ${this.productPrice} 元，
                              另外這 ${
                                this.productVegan ? "是" : "不是"
                              } 素食的`;
                },
                productVegan() {
                  this.result3 = `媽媽買了 ${this.productName}，
                              總共花費 ${this.productPrice} 元，
                              另外這 ${
                                this.productVegan ? "是" : "不是"
                              } 素食的`;
                },
                // 要監聽在 data 中的 tempName
                // n ->新值 、o -> 舊值
                tempName(n, o) {
                  if (n.length >= 10) {
                    this.result = `文字長度為 ${n.length} 個字，將儲存至變數中`;
                    this.name = n;
                  } else {
                    this.result = `輸入的文字僅有 ${n.length} 個字，上一次有 ${o.length} 個字`;
                  }
                },
              },
              // 保留文字：
              // `文字長度為 ${n.length} 個字，將儲存至變數中`
              // `輸入的文字僅有 ${n.length} 個字，上一次有 ${o.length} 個字`
              // `媽媽買了 ${this.productName}，總共花費 ${this.productPrice} 元，另外這 ${this.productVegan? '是' : '不是'} 素食的`
            };
            Vue.createApp(App).mount("#app");
          </script>

          <!-- 🙇🙇練習結束🙇🙇 -->
        </main>

        <aside class="col-md-3">
          <div class="sticky-top" style="top: 76px">
            <div class="list-group">
              <a
                href="/optionsApi/options-api.html"
                class="list-group-item list-group-item-action"
              >
                option API
              </a>

              <a
                href="/optionsApi/options-methods.html"
                class="list-group-item list-group-item-action"
              >
                Methods
              </a>

              <a
                href="/optionsApi/options-computed.html"
                class="list-group-item list-group-item-action"
              >
                Computed
              </a>

              <a
                href="/optionsApi/options-watch.html"
                class="list-group-item list-group-item-action active"
              >
                Watch
              </a>

              <a
                href="/optionsApi/options-life-cycle.html"
                class="list-group-item list-group-item-action"
              >
                元件生命週期
              </a>

              <a
                href="/optionsApi/options-final.html"
                class="list-group-item list-group-item-action"
              >
                章節挑戰
              </a>
            </div>
            <div class="mt-3 text-end p-2 bg-light rounded">
              <small class="text-black-50 fw-light mb-0"
                >文件版本：2022/6/21</small
              >
            </div>
          </div>
        </aside>
      </div>
    </div>

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/es6/shorthand.html">JS 必備觀念</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/intro/createApp.html">認識 Vue.js</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/template/v-text.html">模板</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/optionsApi/options-methods.html"
                >方法</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/component_register.html"
                >元件</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/advApi/adv-refs.html">進階</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/router/vue-router.html">路由</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/composition/proxy.html"
                >Composition API</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <footer class="footer py-2 bg-light">
      <div class="container text-center">
        <small class="text-black-50 fw-light mb-0"
          >六角學院 Vue 課程專屬文件</small
        >
      </div>
    </footer>
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </body>
</html>
