<!DOCTYPE html>
<html>
  <head>
    <title>v-model 與表單</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="images/favicon.ico" rel="shortcut icon" />
    <meta charset="UTF-8" />
    <script src="/javascripts/vendor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.2/vue.global.js"></script>
  </head>
  <body class="bg-lighter">
    <div class="container main my-5">
      <div class="row">
        <main class="col post">
          <!-- 章節標題 -->
          <div class="mb-4">
            <h1 class="mt-0 text-muted">v-model 與表單</h1>
            <small>檔名：<code>form.html</code></small>
          </div>
          <!-- 🔥🔥練習開始🔥🔥 -->

          <div id="app">
            <h3>input</h3>
            <input type="text" class="form-control" v-model="name" />
            {{ name }}

            <hr />
            <h3>textarea</h3>
            <textarea
              cols="30"
              rows="3"
              class="form-control"
              v-model="text"
            ></textarea>
            {{ text }}

            <hr />
            <h3>checkbox 單選框</h3>
            <p>小明，你是吃飽沒？</p>
            <p>{{ checkAnswer}}</p>
            <p>
              {{ checkAnswer ? '吃飽了' : '還沒'}} - 這裡用 模板語言 + 三元
              true、false 來呈現不同值
            </p>
            <div class="form-check">
              <input
                type="checkbox"
                v-model="checkAnswer"
                class="form-check-input"
                id="check1"
              />
              <label class="form-check-label" for="check1">小明回覆</label>
            </div>

            <hr />
            <h3>checkbox 單選延伸</h3>
            <p>小明，你是吃飽沒？</p>
            <p>
              {{ checkAnswer2 }} <br />
              - 先 v-model 綁定空字串，再直接在 input 勾選框加上
              true-value="吃飽了"、false-value="還沒吃飽"，把寫好的值綁定在標籤內
            </p>
            <div class="form-check">
              <input
                type="checkbox"
                v-model="checkAnswer2"
                true-value="吃飽了"
                false-value="還沒吃飽"
                class="form-check-input"
                id="check2"
              />
              <label class="form-check-label" for="check2">小明回覆</label>
            </div>

            <hr />
            <h3>checkbox 複選框</h3>
            <p>你還要吃什麼？</p>
            <p>
              {{ checkAnswer3.join(' ') }} <br />
              - 這裡是模板綁定空陣列並呈現陣列內資料，並在每個選項 input
              加上該呈現的值 value，<br />
              並 v-model 空陣列，等於當選擇哪個 input 時，該 input 的 value
              會家到 空陣列中
            </p>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="check3"
                v-model="checkAnswer3"
                value="蛋餅"
              />
              <label class="form-check-label" for="check3">蛋餅</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="check4"
                v-model="checkAnswer3"
                value="蘿蔔糕"
              />
              <label class="form-check-label" for="check4">蘿蔔糕</label>
            </div>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="check5"
                v-model="checkAnswer3"
                value="豆漿"
              />
              <label class="form-check-label" for="check5">豆漿</label>
            </div>

            <hr />
            <h3>radio 單選框</h3>
            <p>你還要吃什麼？</p>
            <p>
              {{ radioAnswer }} <br />
              - 資料中預設 物件:"蛋餅"，並綁定在每個 input，當選到該
              input，會依據 input 的 value，<br />
              直接把 value 的值 覆蓋 物件:"蛋餅" 的 "蛋餅"，所以呈現的值是依據
              input 的 value，<br />
              就不用每個 input 要個別寫 v-model="選項 1"、v-model="選項
              2"、v-model="選項 3"，<br />
              只寫一種預設 v-model="選項 1" 就好
            </p>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="radio1"
                v-model="radioAnswer"
                value="蛋餅"
              />
              <label class="form-check-label" for="radio1">蛋餅</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="radio2"
                v-model="radioAnswer"
                value="蘿蔔糕"
              />
              <label class="form-check-label" for="radio2">蘿蔔糕</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="radio3"
                v-model="radioAnswer"
                value="豆漿"
              />
              <label class="form-check-label" for="radio3">豆漿</label>
            </div>

            <hr />
            <h3>select 單選 - (複習可多看)</h3>
            <small
              >模板預設空陣列，會呈現 select 標籤內的 value 值，所以另外
              :value="item.name" 只呈現陣列的 name 值</small
            >
            <p>你還要吃什麼？</p>
            <p>
              {{ selectAnswer }} <br />
              - v-for + 陣列資料 綁定在 option， 並模板(空陣列)呈現值 <br />
              - 預設 option 框顯現，只填上 說吧，你要吃什麼？會沒有效果，<br />
              必須在 option 標籤加上 value="" 才能顯現 說吧，你要吃什麼？ <br />
              - 預設 option 標籤加上 disabled，可以再選擇其他 option
              後，禁選預設文字
            </p>
            <select class="form-select" v-model="selectAnswer">
              <option value="" disabled>說吧，你要吃什麼？</option>
              <option
                :value="item.name"
                v-for="item in products"
                :key="item.name"
              >
                {{item.name}} / {{item.price}} 元
              </option>
            </select>

            <hr />
            <h3>select 多選</h3>
            <small
              >這裡要注意，直接選擇選項會沒有多選效果，<br />
              因為預設的 select 在多選時需要按住對應的按鍵，例如在 Windows
              中是先按住 ctrl 鍵，再點選選項；在 Mac 中則是按住 command 鍵。
            </small>
            <p>你還要吃什麼？</p>
            <p>
              {{ selectAnswer2 }} <br />
              - 多選用 陣列 裝資料，並在 select 標籤上加上 multiple
            </p>
            <select class="form-select" multiple v-model="selectAnswer2">
              <option selected disabled value="">說吧，你要吃什麼？</option>
              <option
                :value="item.name"
                v-for="item in products"
                :key="item.name"
              >
                {{item.name}} / {{item.price}} 元
              </option>
            </select>
          </div>

          <script>
            const App = {
              data() {
                return {
                  name: "小明",
                  text: "一段文字敘述",
                  checkAnswer: false,
                  checkAnswer2: "",
                  checkAnswer3: [],
                  radioAnswer: "蛋餅",
                  selectAnswer: "",
                  selectAnswer2: [],
                  products: [
                    {
                      name: "蛋餅",
                      price: 30,
                      vegan: false,
                    },
                    {
                      name: "飯糰",
                      price: 35,
                      vegan: false,
                    },
                    {
                      name: "小籠包",
                      price: 60,
                      vegan: false,
                    },
                    {
                      name: "蘿蔔糕",
                      price: 30,
                      vegan: true,
                    },
                  ],
                  productsObj: {
                    chineseOmelette: {
                      name: "蛋餅",
                      price: 30,
                      vegan: false,
                    },
                    riceBall: {
                      name: "飯糰",
                      price: 35,
                      vegan: false,
                    },
                    soupDumpling: {
                      name: "小籠包",
                      price: 60,
                      vegan: false,
                    },
                    radishCake: {
                      name: "蘿蔔糕",
                      price: 30,
                      vegan: true,
                    },
                  },
                };
              },
              methods: {
                reverseArray: function () {
                  this.products.reverse();
                },
              },
            };

            Vue.createApp(App)
              .component("list-item", {
                template: `
      <li>
        {{ item.name}} / {{ item.price }} 元
      </li>
    `,
                props: ["item"],
              })
              .mount("#app");
          </script>
          <!-- 🙇🙇練習結束🙇🙇 -->
        </main>

        <aside class="col-md-3">
          <div class="sticky-top" style="top: 76px">
            <div class="list-group">
              <a
                href="/template/v-text.html"
                class="list-group-item list-group-item-action list-group-item-success"
              >
                渲染資料於畫面上
              </a>

              <a
                href="/template/v-for.html"
                class="list-group-item list-group-item-action list-group-item-success"
              >
                呈現多筆資料
              </a>

              <a
                href="/template/v-if.html"
                class="list-group-item list-group-item-action list-group-item-success"
              >
                渲染判斷
              </a>

              <a
                href="/template/v-bind.html"
                class="list-group-item list-group-item-action list-group-item-success"
              >
                屬性綁定
              </a>

              <a
                href="/template/v-style.html"
                class="list-group-item list-group-item-action list-group-item-success"
              >
                樣式切換
              </a>

              <a
                href="/template/form.html"
                class="list-group-item list-group-item-action list-group-item-danger active"
              >
                v-model 與表單
              </a>

              <a
                href="/template/v-model-modifiers.html"
                class="list-group-item list-group-item-action list-group-item-danger"
              >
                v-model 修飾符
              </a>

              <a
                href="/template/v-on.html"
                class="list-group-item list-group-item-action list-group-item-info"
              >
                v-on 事件觸發
              </a>

              <a
                href="/template/v-on-modifiers.html"
                class="list-group-item list-group-item-action list-group-item-info"
              >
                v-on 修飾符
              </a>

              <a
                href="/template/v-on-dom-event.html"
                class="list-group-item list-group-item-action list-group-item-info"
              >
                補充：v-on DOM 事件
              </a>

              <a
                href="/template/directive-final-easy.html"
                class="list-group-item list-group-item-action"
              >
                章節挑戰 - 簡單版
              </a>

              <a
                href="/template/directive-final.html"
                class="list-group-item list-group-item-action"
              >
                章節挑戰 - 挑戰版
              </a>
            </div>
            <div class="mt-3 text-end p-2 bg-light rounded">
              <small class="text-black-50 fw-light mb-0"
                >文件版本：2022/6/21</small
              >
            </div>
          </div>
        </aside>
      </div>
    </div>

    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Vue 3 練習手冊</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/es6/shorthand.html">JS 必備觀念</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/intro/createApp.html">認識 Vue.js</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/template/v-text.html">模板</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/optionsApi/options-methods.html"
                >方法</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/components/component_register.html"
                >元件</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/advApi/adv-refs.html">進階</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/router/vue-router.html">路由</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/composition/proxy.html"
                >Composition API</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <footer class="footer py-2 bg-light">
      <div class="container text-center">
        <small class="text-black-50 fw-light mb-0"
          >六角學院 Vue 課程專屬文件</small
        >
      </div>
    </footer>
    <link rel="stylesheet" href="/stylesheets/all.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </body>
</html>
