 /* 解決 -> 畫面重整時會出現未編譯的資料 */
 [v-cloak] {
    display: none;
  }
  /* nav 顏色 */
  .navBgColor {
    background-color: #cecccc;
  }
  /* 後台商品列表圖片 */
  .productImages{
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
   /* 商品列表圖片 */
   .lightBoxImages{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }