 /* 解決 -> 畫面重整時會出現未編譯的資料 */
 [v-cloak] {
    display: none;
  }
  /* nav 顏色 */
  .navBgColor {
    background-color: #cecccc;
  }
  /* 圖片 */
  .imgObjectFit{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }