<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>week5 - 購物車、表單驗證</title>
    <!-- bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- ajax -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
      integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
      crossorigin="anonymous"
    />
    <!-- VueLoading  -->
    <link
      href="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.2/dist/css/index.min.css"
      rel="stylesheet"
    />
    <!-- 自訂 css -->
    <link rel="stylesheet" href="./css/cart.css" />
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- 1. nav  -->
      <common-header></common-header>
      <!-- 2. banner -->
      <header class="banner_block"></header>
      <!-- 3. 商品分類 -->
      <ul
        class="nav nav-tabs m-5 p-5 justify-content-center flex-nowrap text-nowrap"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">全部</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">早午餐</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">輕食</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">義大利麵</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">炸物</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">飲料</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">甜點</a>
        </li>
      </ul>
      <!-- 4. 商品列表 -->
      <div class="container">
        <div class="mt-4">
          <!-- 商品 Modal -->
          <!-- ref="productModal" 這裡給外層控制關掉 -->
          <product-modal
            :id="productId"
            :add-to-cart="addToCart"
            ref="productModal"
            :open-modal="openModal"
            :clear-qty="addToCart"
            class="mb-5"
          ></product-modal>
          <!-- 商品列表 -->
          <table class="table align-middle">
            <thead>
              <tr>
                <th>圖片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="product in products" :key="product.id">
                <td style="width: 200px">
                  <!-- 不常更動的 圖片 CSS 可以直接寫在 HTML 上 -->
                  <div
                    style="
                      height: 100px;
                      background-size: cover;
                      background-position: center;
                    "
                    :style="{backgroundImage:`url(${product.imageUrl})`}"
                  ></div>
                </td>
                <td>{{ product.title }}</td>
                <td>
                  <!-- 折價後價格 -->
                  <div
                    v-if="product.price ===  product.origin_price"
                    class="h5"
                  >
                    {{ product.price }} 元
                  </div>
                  <!-- 原價 -->
                  <del v-else class="h6"
                    >原價 {{ product.origin_price }} 元</del
                  >
                  <div class="h5">現在只要 {{ product.price }} 元</div>
                </td>
                <td>
                  <div class="btn-group btn-group-sm">
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      @click="openModal(product.id)"
                    >
                      查看更多
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      @click="addToCart(product.id)"
                      :disabled="product.id === loadingItem"
                    >
                      加到購物車
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- 分頁元件 -->
          <pagination :pages="page" @change-page="getProducts"></pagination>
          <!-- 購物車列表 -->
          <table class="table align-middle">
            <thead>
              <tr>
                <th style="width: 100px"></th>
                <th style="width: 100px">品名</th>
                <th style="width: 150px">數量 / 單位</th>
                <th style="width: 100px">單價</th>
                <th style="width: 100px">小計</th>
              </tr>
            </thead>
            <tbody>
              <!-- 當 cart 有內容才呈現購物車 -->
              <tr v-for="cartItem in cart.carts" :key="cartItem.id">
                <div class="text-center m-5">
                  <button
                    class="btn btn-outline-danger"
                    type="button"
                    @click="deleteCars"
                    :disabled="!cart.carts?.length"
                  >
                    清空購物車
                  </button>
                </div>
                <td style="width: 100px">
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm"
                    @click="deleteItem(cartItem)"
                    :disabled="cartItem.id === loadingItem"
                  >
                    x
                  </button>
                </td>
                <td>{{ cartItem.product.title }}</td>
                <td>
                  <div class="input-group input-group-sm">
                    <select
                      name=""
                      id=""
                      v-model="cartItem.qty"
                      @change="updateCartItem(cartItem)"
                      :disabled="cartItem.id === loadingItem"
                    >
                      <option :value="i" v-for="i in 20" :key="i + '1233'">
                        {{ i }}
                      </option>
                    </select>
                    <div class="ms-2">{{ cartItem.product.unit }}</div>
                  </div>
                </td>
                <td>{{ cartItem.product.price }}</td>
                <td>{{ cartItem.total }}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>總計</td>
                <td>{{ cart.total }}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-success">折扣價</td>
                <td class="text-success">{{ cart.final_total}}</td>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- 表單驗證 -->
        <!-- is-invalid 是 bootstrap 中，Forms validation 顯示紅框 -->
        <div class="my-5 row justify-content-center">
          <v-form
            ref="form"
            class="col-md-6"
            v-slot="{ errors }"
            @submit="sendOrder"
          >
            <div class="mb-4">
              <v-field
                id="email"
                name="email"
                type="email"
                class="form-control"
                rules="required|email"
                v-model="form.user.email"
                :class="{ 'is-invalid': errors['email'] }"
                placeholder="Email address"
              ></v-field>
              <error-message
                name="email"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-4">
              <v-field
                id="name"
                name="姓名"
                type="text"
                class="form-control"
                :class="{ 'is-invalid': errors['姓名'] }"
                v-model="form.user.name"
                placeholder="Your Name"
                rules="required"
              ></v-field>
              <error-message
                name="姓名"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-4">
              <v-field
                id="tel"
                name="電話"
                type="text"
                class="form-control"
                :class="{ 'is-invalid': errors['電話'] }"
                v-model="form.user.tel"
                placeholder="Phone number"
                :rules="isPhone"
              ></v-field>
              <error-message
                name="電話"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-4">
              <v-field
                id="address"
                name="地址"
                type="text"
                class="form-control"
                :class="{ 'is-invalid': errors['地址'] }"
                v-model="form.user.address"
                placeholder="Your address"
                rules="required"
              ></v-field>
              <error-message
                name="地址"
                class="invalid-feedback"
              ></error-message>
            </div>

            <div class="mb-4">
              <textarea
                id="message"
                class="form-control"
                cols="10"
                rows="10"
                v-model="form.message"
                placeholder="Enter your message here"
              ></textarea>
            </div>
            <div class="text-end">
              <button type="submit" class="btn btn-danger">送出訂單</button>
            </div>
          </v-form>
        </div>
      </div>
      <!-- 5. footer -->
      <common-footer></common-footer>
    </div>

    <!-- 詳細商品頁面 Modal -->
    <script type="text/x-template" id="userProductModal">
          <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modal">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content border-0">
          <div class="modal-header bg-dark text-white">
            <h5 class="modal-title" id="exampleModalLabel">
              <span>{{ tempProduct.title }}</span>
          </h5>
            <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-6">
                <!-- <img class="img-fluid" :src="..." alt=""> -->
                <img class="img-fluid" :src="tempProduct.imageUrl" alt="">
          </div>
              <div class="col-sm-6">
                <span class="badge bg-primary rounded-pill">{{ tempProduct.category}}</span>
                <p>商品描述：{{ tempProduct.description }}</p>
                <p>商品內容：{{ tempProduct.content }}</p>
                <div v-if="tempProduct.price ===  tempProduct.origin_price" class="h5">{{ tempProduct.price }} 元</div>
                <del class="h6">原價 {{ tempProduct.origin_price }} 元</del>
                <div class="h5">現在只要 {{ tempProduct.price }} 元</div>
                <div>
                  <div class="input-group">
                    <!-- 這裡選擇數量框給使用者選，不使用 input 框 -->
                    <select name="" id="" class="form-select" v-model="qty">
                      <option :value="i" v-for="i in 20" :key="`${i}3333`">{{ i }}</option>
                    </select>
                    <button type="button" class="btn btn-primary" @click="addToCart(tempProduct.id,qty)">加入購物車</button>
          </div>
          </div>
          </div>
              <!-- col-sm-6 end -->
          </div>
          </div>
          </div>
          </div>
          </div>
    </script>
    <!-- SweetAlert 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- VeeValidate 驗證 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vee-validate/4.5.8/vee-validate.min.js"></script>
    <!-- VeeValidate 語言 -->
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/i18n@4.5.8/dist/vee-validate-i18n.min.js"></script>
    <!-- VeeValidate 規則 -->
    <script src="https://cdn.jsdelivr.net/npm/@vee-validate/rules@4.5.8/dist/vee-validate-rules.min.js"></script>
    <!-- VueLoading -->
    <script src="https://cdn.jsdelivr.net/npm/vue-loading-overlay@6.0.2/dist/index.min.js"></script>
    <!-- 主要 JS -->
    <script src="./js/index.js" type="module"></script>
  </body>
</html>
